body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
}

.form-container {
            width: 400px;
            margin-top: 50px auto;
            margin-bottom: 50px auto;
            margin-left: 20px;
            margin-right: 20px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
            display: flex;
            flex-direction: column;
}

label {
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
}

.child {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
}


input[type="text"],
input[type="number"],
input[type="url"]

 
